<ion-header>
  <ion-toolbar>
    <ion-title>
      Desastres Naturales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
    <ion-col col-1>
      <img src="assets/img/terremoto.jpg" >
    </ion-col>
    <ion-col col-10>
      <h1>Terremotos</h1>
      <p>Asegúrate de siempre tener en cuenta estas recomendaciones <br>
        • Identifica los lugares más seguros de tu residencia o universidad. Los marcos de las puertas o muebles resistentes son los lugares recomendados para protegerse en estos casos.<br>
        • También reserva agua potable y algunos alimentos no perecederos como comidas en lata y chocolates que te darán energía.</p>
        <h1>Durante el Terremo</h1>
        <p><br>
            Durante el terremoto<br>
            •	Asegúrate de mantenerte en calma y no correr ni inducir el pánico en otras personas.<br>
            Después del terremoto<br>
            •	Enciende la radio y sigue las instrucciones recomendadas por las autoridades. No te alarmes por rumores.<br>
        </p>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-1>
        <img src="assets/img/inundaciones.jpg" >
      </ion-col>
      <ion-col col-10>
        <h1>Terremotos</h1>
        <p>Asegúrate de siempre tener en cuenta estas recomendaciones <br>
          • Identifica los lugares más seguros de tu residencia o universidad. Los marcos de las puertas o muebles resistentes son los lugares recomendados para protegerse en estos casos.
          • También reserva agua potable y algunos alimentos no perecederos como comidas en lata y chocolates que te darán energía.</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-1>
          <img src="assets/img/incendio.jpg" >
        </ion-col>
        <ion-col col-10>
          <h1>Terremotos</h1>
          <p>Asegúrate de siempre tener en cuenta estas recomendaciones <br>
            • Identifica los lugares más seguros de tu residencia o universidad. Los marcos de las puertas o muebles resistentes son los lugares recomendados para protegerse en estos casos.
            • También reserva agua potable y algunos alimentos no perecederos como comidas en lata y chocolates que te darán energía.</p>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-1>
            <img src="assets/img/lluvia.jpg" >
          </ion-col>
          <ion-col col-10>
            <h1>Terremotos</h1>
            <p>Asegúrate de siempre tener en cuenta estas recomendaciones <br>
              • Identifica los lugares más seguros de tu residencia o universidad. Los marcos de las puertas o muebles resistentes son los lugares recomendados para protegerse en estos casos.
              • También reserva agua potable y algunos alimentos no perecederos como comidas en lata y chocolates que te darán energía.</p>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-1>
              <img src="assets/img/Tsunami1.jpg" >
            </ion-col>
            <ion-col col-10>
              <h1>Terremotos</h1>
              <p>Asegúrate de siempre tener en cuenta estas recomendaciones <br>
                • Identifica los lugares más seguros de tu residencia o universidad. Los marcos de las puertas o muebles resistentes son los lugares recomendados para protegerse en estos casos.
                • También reserva agua potable y algunos alimentos no perecederos como comidas en lata y chocolates que te darán energía.</p>
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>
